table{
    border: 10px;
}
.red{
    color:red;
    font-style: bold;
}
.yellow{
color:#f3c300;
font-style: bold;

}
.teal{
    color:#00ac9f;
    font-style: bold;
}
.blue{
    color:#2e6d84;
    font-style: bold;
}
.grey{
    color:grey;
    font-style: bold;
}