table{
    border: 200px;
}
.red{
    color:red;
    font-style: bold;
}
.yellow{
color:#f3c300;
font-style: bold;

}
.teal{
    color:#00ac9f;
    font-style: bold;
}
.blue{
    color:#2e6d84;
    font-style: bold;
}
.grey{
    color:grey;
    font-style: bold;
}
.one{
text-align:center ;
font-size: 48px;
}
.two{
    text-align:center ;
    font-size: 48px;
}
.three{
    text-align:center ;
    font-size: 48px;
}


.four{
    text-align:center ;
    font-size: 48px;
}

.five{
    text-align:center ;
    font-size: 48px;
}

body{
    background-color: #00ac9f;
}
img{
    width: 200px;
    height: 200px;
}